server {
  listen 80;
  listen [::]:80;

  server_name {{ bst_domain }};

  client_max_body_size {{ bst_upload_size }};
  client_body_timeout {{ bst_upload_timeout }};

  root {{ bst_dir }}public;
  index index.php index.html;

  location / {
    try_files $uri $uri/ /index.php?$query_string;
  }
  
  location ~ \.php$ {
    include snippets/fastcgi-php.conf;
    fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
  }
}
